/* About section styles */
.about {
    background-color: #f9f9f9; /* Light Grey */
    padding: 50px 0;
    text-align: center;
  }
  
  .about h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  .container-about {
    max-width: 800px; /* Limit the width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0 20px; /* Add some padding to the sides */
  }  