/* Contact section styles */
.contact {
    background-color: #f9f9f9; /* Light Grey */
    padding: 50px 0;
    text-align: center;
  }
  .container-contact {
    max-width: 800px; /* Limit the width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0 20px; /* Add some padding to the sides */
  }
  
  .contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .contact p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .contact-form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact-form .form-group {
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2196F3; /* Blue */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #0b7dda; /* Darker Blue */
  }
  
  .success-message {
    margin-top: 20px;
    font-size: 18px;
    color: #4CAF50; /* Green */
  }
  